# 복습예제 > DT스쿨 최저 연령은?

In [ ]:
DT스쿨 최저 연령은? 
alist = {
    '1팀':[25,39,29,27,22], 
    '2팀':[27,24,25,29,25], 
    '3팀':[25,26,25,23,23,28,27],
    '4팀':[21,23,30],
    '5팀':[26,41,24,31,21,34,27],
    '6팀':[21,29,27,25,25]}
age_li = []
for i,v in alist.items():
    print(f'{i}의 최저연령은{min(v)} 최고연령은 {max(v)}')
    age_li.extend(v)                                          #list 채로 list 의 항목더하기 
    print(age_li)
print(f'DT스쿨 최저연령은{min(age_li)} 최고연령은 {max(age_li)}')

1팀의 최저연령은22 최고연령은 39
[25, 39, 29, 27, 22]
2팀의 최저연령은24 최고연령은 29
[25, 39, 29, 27, 22, 27, 24, 25, 29, 25]
3팀의 최저연령은23 최고연령은 28
[25, 39, 29, 27, 22, 27, 24, 25, 29, 25, 25, 26, 25, 23, 23, 28, 27]
4팀의 최저연령은21 최고연령은 30
[25, 39, 29, 27, 22, 27, 24, 25, 29, 25, 25, 26, 25, 23, 23, 28, 27, 21, 23, 30]
5팀의 최저연령은21 최고연령은 41
[25, 39, 29, 27, 22, 27, 24, 25, 29, 25, 25, 26, 25, 23, 23, 28, 27, 21, 23, 30, 26, 41, 24, 31, 21, 34, 27]
6팀의 최저연령은21 최고연령은 29
[25, 39, 29, 27, 22, 27, 24, 25, 29, 25, 25, 26, 25, 23, 23, 28, 27, 21, 23, 30, 26, 41, 24, 31, 21, 34, 27, 21, 29, 27, 25, 25]
DT스쿨 최저연령은21 최고연령은 41

In [ ]:
#평균나이 구하기 
alist = {
    '1팀':[25,39,29,27,22], 
    '2팀':[27,24,25,29,25], 
    '3팀':[25,26,25,23,23,28,27],
    '4팀':[21,23,30],
    '5팀':[26,41,24,31,21,34,27],
    '6팀':[21,29,27,25,25]}
age_li = []
for i,v in alist.items():
    print(f'{i}의 최저연령은{min(v)} 최고연령은 {max(v)}')
    age_li.extend(v)                                          #list 채로 list 의 항목더하기 
    #print(age_li)
print(f'DT스쿨 평균나이는 {sum(age_li)/count(age_li)}')

1팀의 최저연령은22 최고연령은 39
[25, 39, 29, 27, 22]
2팀의 최저연령은24 최고연령은 29
[25, 39, 29, 27, 22, 27, 24, 25, 29, 25]
3팀의 최저연령은23 최고연령은 28
[25, 39, 29, 27, 22, 27, 24, 25, 29, 25, 25, 26, 25, 23, 23, 28, 27]
4팀의 최저연령은21 최고연령은 30
[25, 39, 29, 27, 22, 27, 24, 25, 29, 25, 25, 26, 25, 23, 23, 28, 27, 21, 23, 30]
5팀의 최저연령은21 최고연령은 41
[25, 39, 29, 27, 22, 27, 24, 25, 29, 25, 25, 26, 25, 23, 23, 28, 27, 21, 23, 30, 26, 41, 24, 31, 21, 34, 27]
6팀의 최저연령은21 최고연령은 29
[25, 39, 29, 27, 22, 27, 24, 25, 29, 25, 25, 26, 25, 23, 23, 28, 27, 21, 23, 30, 26, 41, 24, 31, 21, 34, 27, 21, 29, 27, 25, 25]

NameError: ignored

##예제 > 우리팀 캐릭터 사전 만들기 



*   닉네임에 따른 사전 
*   사전값은 리스트로 
*   닉네임을 입력받습니다 input('닉네임을 입력하세요')
*   닉네임과 값을 구성하여 팀원 소개글 출력 ( ex. 가고싶은곳 ,하고싶은것, 즐거운일 ) 
*   캐릭터 사전 출력함수로 만들고 random.choice()로 출력하게 수정

In [ ]:
# 예제 > 우리팀 캐릭터 사전 만들기 
import random 
team_may = {}
b_list
print()
print()

In [ ]:
team_may = {'수루키':['한슬기','댄스','곱창','발리'],
            '갓디':['신동열','자전거','돈까스','아이슬란드'],
            '너구리':['이영이', '잠', '양파,감자', '뉴욕'],
            '매운오돌뼈':['박정선','책 읽기' '쫄면','크로아티아'],
            '뚜뚜':['김은수' , '노래 듣기' , '떡볶이' , '유럽'],
            '데이지':['노현정','유튜브보기','매번다름','이스탄불']}

nick_name = input('누가 궁금한가요? : ')
#if nick_name != team_dic :
    #print('우리팀원이 아니에요')

b_list = team_may[nick_name]

print(f'오월의 오팀 {nick_name}님을 소개합니다.')
print(f'{nick_name}님의 이름은 {b_list[0]}.')
print(f'취미는 {b_list[1]}.')
print(f'{nick_name}님이 좋아하는 음식은 {b_list[2]} 이고,')
print(f'여행가고 싶은 곳은 {b_list[3]} 입니다!.')
print(f'우리 오월의 오팀 사랑스런 {nick_name}님을 환영해주세용♡')

누가 궁금한가요? : 너구리
오월의 오팀 너구리님을 소개합니다.
너구리님의 이름은 이영이.
취미는 잠.
너구리님이 좋아하는 음식은 양파,감자 이고,
여행가고 싶은 곳은 뉴욕 입니다!.
우리 오월의 오팀 사랑스런 너구리님을 환영해주세용♡

# 문자열 나누기 
> 문자열.split() -> 일정한 규직으로 잘라서 리스트로 만들어주는 함수

In [ ]:
text = '문자열 나누기'
a = text.split(sep=' ')        # 공백을 기준으로 나누기(sep)
print(a)
print('='*50)

# '구분자'.join(리스트) 로 요소 하나하나를 합쳐서 하나의 문자열로 반환가능 
text1 = ' '.join(a)
text1

['문자열', '나누기']
==================================================

'문자열 나누기'

# 딕셔너리 값 가져오기 
 > 딕셔너리 값이 리스트,딕셔너리 일때

In [ ]:
alist = {
    '키1':['값1','값2'],
    '키2':['값3', '값4'],
    '키3':['값5','값6'],
    '키4':{'키':100}}
print(list(alist['키1']))
print(alist['키4']['키'])

['값1', '값2']
100

# 얼굴인식 
> open API : open Application Programming Interface 의 약어

# 팀과제 ( 네이버 오픈 API )

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import os
import sys
import requests


# 등록된 client_id, client_secret 정보를 입력합니다.
client_id = "yBwPM0bgoQTE7MzqhxmM"
client_secret = "2HiUBFvSq_"

# 얼굴 사진을 통한 나이 추정을 위해서는 아래 url을 사용합니다. (face: 얼굴 분석, celebrity: 닮은 유명인 찾기)
#url = "https://openapi.naver.com/v1/vision/face" 
url = "https://openapi.naver.com/v1/vision/celebrity" 

# 분석할 이미지의 파일명을 입력합니다./
files = {'image': open('/content/drive/MyDrive/한슬기 DT4.jpg', 'rb')}

# API 입력 설정
headers = {'X-Naver-Client-Id': client_id, 'X-Naver-Client-Secret': client_secret }

# API 사용
response = requests.post(url,  files=files, headers=headers)
rescode = response.status_code

if (rescode==200):
    # 결과물 출력
    print (response.text)
else:
    print("Error Code:" + str(rescode))

{"info":{"size":{"width":600,"height":799},"faceCount":1},"faces":[{"celebrity":{"value":"에리카","confidence":0.390864}}]}

In [ ]:
# 네이버 API를 이용한 팀 평균나이 / 닮은꼴 연예인 찾기 

alist = [23.2,26.25,21.6,22.7,19.6]
blist = [0.85,0.64,0.83,0.84,0.54,0.69,0.91]    

print(f'5월의 오조의 평균 연령은 {round(sum(alist)/len(alist),1)}입니다')
print(f'5월의 오조의 평균 정확도는 {round(sum(blist)/len(blist),1)} 입니다') 

print('='*50)

team_may = {'한슬기':['23.3','0.85','에리카'],
            '신동열':['26.25','0.64','윤시윤'],
            '이영이':['21.6',' 0.83','예인'],
            '박정선':['22.6','0.54','구혜선'],
            '김은수':['19.6','0.84','박보영'],
            '노현정':['27.9','0.69', '문지인'],
            '박제희':['27.9','0.91','강승현']}

nick_name = input('누가 궁금한가요? : ')

b_list = team_may[nick_name]

print(f'오월의 오조 {nick_name}님의 평균나이는 {b_list[0]}이며, 정확도는 {b_list[1]}')
print(f'{nick_name}님의 닮은꼴 연예인은? : {b_list[2]} ')

5팀의 평균 연령은 22.7입니다
5팀의 평균 정확도는 0.8 입니다
==================================================
누가 궁금한가요? : 노현정
오월의 오팀 노현정님의 평균나이는 27.9이며, 정확도는 0.69
노현정님의 닮은꼴 연예인은? : 문지인